body {
    margin: 0 auto;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.main_top_back {
    background-image: url("/picture/nature-845849_1920.jpg");
    margin: 0 auto;
    margin-top: -400px;
    height: 1100px;
    background-size: 120%;
    
}

.main_top_back > .top_nav {
    color: black;
    padding-top: 430px;
    text-align: center;
    font-weight: 600;
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    position: sticky;
    top: -400px;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.4s;
    font-family: 'Pretendard-Regular';
}

.top_nav > a:hover {
    color: #be2237;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

.main_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    color: white;
    font-size: 50px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

.main_logo.visible {
    opacity: 0;
}
.main_span_1 {
    font-family: 'Pretendard-Regular';
    font-size: 60px;
    font-weight: 700;
}


.main_span_2 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Pretendard-Regular';
}


section {
    height: 800px;
    background-color: white;
    margin-bottom: 200px;
}

/* 추가된 스타일 - 슬라이더 컨테이너 */
.slider_container {
    height: 250px;
    width: 870px;
    position: fixed;
    line-height: 300px;
    z-index: 1000; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
}

.slider_container img {
    width: 230px;
    height: 250px;
}

/* 추가된 스타일 - 섹션 내용 정렬 및 여백 조정 */
.main_section_first {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}
.main_section_first.visible {
    opacity: 1;
}



.main_section_second {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}
.main_section_second.visible {
    opacity: 1;
}

.main_section_second > img {
    width: 500px;
    height: 500px;
    margin-right: 60px;
    border-radius: 20px;
}



footer {
    height: 400px;
}

/* 하단 */
.info_section {
    background-color: #b9b8b8;
    color: #ffffff;
    padding: 10px 0 45px 0;
}

.info_section h5 {
    margin-bottom: 35px;
    font-size: 22px;
}
.info_contact{
    margin-top: -50px;
}
.info_section .info_contact .info_logo a {
    position: relative;
}

.info_section .info_contact .info_logo a span {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    z-index: 3;
}

.info_section .info_contact .info_logo a::before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -23px;
    width: 60px;
    height: 55px;
    background-color: #00504f;
    z-index: 2;
}

.info_section .info_contact .img-box {
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info_section .info_contact p {
    margin: 0;
}

.info_section .info_contact>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
}

.info_section .info_contact>div img {
    height: auto;
    margin-right: 12px;
}

.info_section .info_links ul {
    padding: 0;
}

.info_section .info_links ul li {
    list-style-type: none;
}

.info_section .info_links ul li a {
    display: inline-block;
    color: #ffffff;
    margin: 2px 0;
}

.info_section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

.info_section .info_form form input::-webkit-input-placeholder {
    color: #ffffff;
}

.info_section .info_form form input:-ms-input-placeholder {
    color: #ffffff;
}

.info_section .info_form form input::-ms-input-placeholder {
    color: #ffffff;
}

.info_section .info_form form input::placeholder {
    color: #ffffff;
}

.info_section .info_form form button {
    display: inline-block;
    padding: 8px 35px;
    background-color: #00504f;
    border: 1px solid #00504f;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
}

.info_section .info_form form button:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    justify-content: center;
}

.row>div {
    margin: 40px;
}
input::placeholder{
    font-size: 18px;
}